<section id="resume" class="resume">
    <div class="resume-line0-sm">
        <div id="myResumeTitle-sm">
            <p>
                My Resume
            </p>                
        </div>        
        <div class="quote">
            <div class="text-6">
                <span>It always seems</span>
            </div>
            <div class="text-6">
                <span>impossible</span>
            </div>             
            <div class="text-6">
                <span >until it's</span><span class="color-2"> done</span>
            </div>            
        </div>   
        <div class="resume-logo">
            <div class="resume-logo-inner">
                <img src="images/Group 2.svg" class="small-logo">
            </div>                
        </div>
    </div>    
    <div class="resume-line1">
        <div class="resume-line1-left">
            <div id="myResumeTitle">
                <p>
                    My Resume
                </p>                
            </div>
            <div class="card1">
                <p id="aboutMetitle">About me & languages</p>
                <p id="aboutMetext" class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vitae provident dolorum eum, numquam pariatur animi.</p>
                <div class="lang-hobbies">
                    <div class="lang">
                        <p class="text-4">Languages</p>
                        <div class="lang-row">
                            <span class="text-5 font-light">Spanish</span>
                            <span class="text-5">100%</span>
                        </div>
                        <div class="lang-row mb-4">
                            <div class="meter">
                                <span style="width: 100%"></span>
                            </div>                            
                        </div>
                        <div class="lang-row">
                            <span class="text-5 font-light">English</span>
                            <span class="text-5">90%</span>
                        </div>                    
                        <div class="lang-row mb-4">
                            <div class="meter">
                                <span style="width: 90%"></span>
                            </div>                            
                        </div>
                        <div class="lang-row">
                            <span class="text-5 font-light">Portuguese</span>
                            <span class="text-5">50%</span>
                        </div>                    
                        <div class="lang-row mb-4">
                            <div class="meter">
                                <span style="width: 50%"></span>
                            </div>                            
                        </div>                        
                    </div>
                    <div class="hobbies">
                        <p class="text-4">Hobbies</p>
                        <div class="hobbies-row">
                            <div class="hobbies-item">
                                <div class="hobbies-image">
                                    <img src="images/game-development.svg">
                                </div>
                                <p class="text-5">Gaming</p>
                            </div>
                            <div class="hobbies-item">
                                <div class="hobbies-image">
                                    <img src="images/Photographer.png">
                                </div>
                                <p id="text-photography" class="text-5">Photography</p>
                            </div>
                            <div class="hobbies-item">
                                <div class="hobbies-image">
                                    <img src="images/Voice.png">
                                </div>
                                <p class="text-5">Blogging</p>
                            </div>                            
                        </div>
                    </div>
                </div>                
            </div>

        </div>
        <div class="resume-line1-right">
            <div class="quote">
                <div class="text-6">
                    <span>It always seems</span>
                </div>
                <div class="text-6">
                    <span>impossible</span>
                </div>
                <div class="text-6">
                    <span >until it's</span><span class="color-2"> done</span>
                </div>            
            </div>   
            <div class="resume-logo">
                <div class="resume-logo-inner">
                    <img src="images/Group 2.svg" class="small-logo">
                </div>                
            </div>
        </div>
    </div>
    <div class="resume-line-2">
        <div class="resume-line-2-title">
            <p class="subtitle-1">
                Experience & things I have learned
            </p>
            <p id="experience-subtitle" class="font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, beatae?
            </p>
        </div>
        <div class="card2">
            <div class="experience">
                <div id="experience-date-1">
                    <p  class="text-4">Lorem Ipsum</p>
                    <p>Student</p>
                </div>
                <div id="experience-1">
                    <p  class="text-4">Computer Science Degree</p>
                    <p class="font-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis amet ex cum dolor architecto unde, incidunt libero nisi ullam ipsa.</p>
                </div>
                <div id="experience-date-2">
                    <p class="text-4">Lorem Ipsum 2 </p>
                    <p>Student</p>
                </div>
                <div id="experience-2">
                    <p class="text-4">Certificate of Backend Dev</p>
                    <p class="font-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis amet ex cum dolor architecto unde, incidunt libero nisi ullam ipsa.</p>
                </div>
                <div id="experience-date-3">
                    <p class="text-4">Lorem Ipsum 3</p>
                    <p>Student</p>
                </div>
                <div id="experience-3">
                    <p class="text-4">Certificate of Frontend Dev</p>
                    <p class="font-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis amet ex cum dolor architecto unde, incidunt libero nisi ullam ipsa.</p>
                </div>
            </div>
        
        </div>
        <div class="card3">
            <p>My tech Stack:</p>
            <div class="tech-icons">
                <img src="images/netcore.png" class="tech-icon">
                <img src="images/javascript.png" class="tech-icon">
                <img src="images/angular.png" class="tech-icon">
                <img id="icon-netcore-2" src="images/netcore.png" class="tech-icon">
                <img id="icon-javascript-2" src="images/javascript.png" class="tech-icon">
                <img id="icon-angular-2" src="images/angular.png" class="tech-icon">
            </div>
        </div>
        <div class="references">
            <p class="subtitle-1">
                References:
            </p>
            <div class="references-cards">
                <div class="reference-card">
                    <p class="text-4">A Breathtaking Person!</p>
                    <p class="font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui reiciendis eligendi nesciunt esse veniam ipsa deserunt voluptatum numquam, aliquid, magnam temporibus reprehenderit quod, architecto omnis odio! Cumque accusamus culpa aliquam.</p>
                    <div class="ref-card-row3">
                        <img src="images/smile.png" class="ref-card-avatar">
                        <div class="ref-card-name">
                            <p class="text-4">
                                Joe Jones
                            </p>
                            <p class="font-light">
                                A Cyberpunk
                            </p>
                        </div>
                    </div>
                </div>
                <div class="reference-card">
                    <p class="text-4">Took an arrow in the knee!</p>
                    <p class="font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui reiciendis eligendi nesciunt esse veniam ipsa deserunt voluptatum numquam, aliquid, magnam temporibus reprehenderit quod, architecto omnis odio! Cumque accusamus culpa aliquam.</p>
                    <div class="ref-card-row3">
                        <img src="images/smile.png" class="ref-card-avatar">
                        <div class="ref-card-name">
                            <p class="text-4">
                                Skyrim Guard
                            </p>
                            <p class="font-light">
                                Used to be an Adventurer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="reference-card">
                    <p class="text-4">A Breathtaking Person!</p>
                    <p class="font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui reiciendis eligendi nesciunt esse veniam ipsa deserunt voluptatum numquam, aliquid, magnam temporibus reprehenderit quod, architecto omnis odio! Cumque accusamus culpa aliquam.</p>
                    <div class="ref-card-row3">
                        <img src="images/smile.png" class="ref-card-avatar">
                        <div class="ref-card-name">
                            <p class="text-4">
                                Seong Gi-Hun
                            </p>
                            <p class="font-light">
                                A Game Player
                            </p>
                        </div>
                    </div>
                </div>                                
            </div>
            <div class="references-cards-sm">
                <div class="reference-card" *ngIf="selectedReference===0">
                    <p class="text-4">A Breathtaking Person!</p>
                    <p class="font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui reiciendis eligendi nesciunt esse veniam ipsa deserunt voluptatum numquam, aliquid, magnam temporibus reprehenderit quod, architecto omnis odio! Cumque accusamus culpa aliquam.</p>
                    <div class="ref-card-row3">
                        <img src="images/smile.png" class="ref-card-avatar">
                        <div class="ref-card-name">
                            <p class="text-4">
                                Joe Jones
                            </p>
                            <p class="font-light">
                                A Cyberpunk
                            </p>
                        </div>
                    </div>
                </div>
                <div class="reference-card" *ngIf="selectedReference===1">
                    <p class="text-4">Took an arrow in the knee!</p>
                    <p class="font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui reiciendis eligendi nesciunt esse veniam ipsa deserunt voluptatum numquam, aliquid, magnam temporibus reprehenderit quod, architecto omnis odio! Cumque accusamus culpa aliquam.</p>
                    <div class="ref-card-row3">
                        <img src="images/smile.png" class="ref-card-avatar">
                        <div class="ref-card-name">
                            <p class="text-4">
                                Skyrim Guard
                            </p>
                            <p class="font-light">
                                Used to be an Adventurer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="reference-card" *ngIf="selectedReference===2">
                    <p class="text-4">A Breathtaking Person!</p>
                    <p class="font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui reiciendis eligendi nesciunt esse veniam ipsa deserunt voluptatum numquam, aliquid, magnam temporibus reprehenderit quod, architecto omnis odio! Cumque accusamus culpa aliquam.</p>
                    <div class="ref-card-row3">
                        <img src="images/smile.png" class="ref-card-avatar">
                        <div class="ref-card-name">
                            <p class="text-4">
                                Seong Gi-Hun
                            </p>
                            <p class="font-light">
                                A Game Player
                            </p>
                        </div>
                    </div>
                </div>  
                <div class="reference-options">
                    <div class="custom-option" (click)="clickReferenceOption(0)" [ngClass]="{'custom-option-selected': selectedReference===0}">
                    </div>
                    <div class="custom-option" (click)="clickReferenceOption(1)" [ngClass]="{'custom-option-selected': selectedReference===1}">
                    </div>
                    <div class="custom-option" (click)="clickReferenceOption(2)" [ngClass]="{'custom-option-selected': selectedReference===2}">
                    </div>
                </div>                              
            </div>

        </div>
    </div>
</section>
