<!DOCTYPE html>
<html>
<head>
  <title>Personal Page </title>
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

  <header>
      <div class="image-title">
          <img src="images/photo.jpg" class="photo">
          <div class="header-title">
              <p class="text-1">New Endavan</p>
              <p class="text-1">Software Developer</p>
          </div>    
      </div>
      <div class="header-links">
          <div class="links">
              <a routerLink="/" class="header-link" [ngClass]="{'underline': route=='/'}">Home</a>
              <a routerLink="/resume" class="header-link" [ngClass]="{'underline': route=='/resume'}">Resume</a>
              <a routerLink="/contact" class="header-link" [ngClass]="{'underline': route=='/contact'}">Contact</a>
          </div>
      </div>
  </header>
  <router-outlet />
  <footer>
    <ul>
        <li>juan-jose.plada&#64;endava.com</li>
        <li><a href="https://www.linkedin.com/in/juanplada/">linkedin</a></li>
        <li><a href="https://github.com/jplada">github</a></li>
    </ul>
  </footer>
</body>
</html>
