<section id="contact" class="contact">
    <img src="images/map.png" class="city-map">
    <div class="contact-form-container">
        <form class="contact-form">
            <p class="text-7">Get in touch</p>
            <div class="text-group">
                <label>Your Full Name</label>
                <input type="text" required maxlength="50">
            </div>
            <div class="text-group">
                <label>Your Email</label>
                <input type="text" required maxlength="50">
            </div>   
            <div class="text-group">
                <label>Subject</label>
                <input type="text" required maxlength="50">
            </div>
            <div class="text-group">
                <label>Your Messagge</label>
                <textarea rows="10" required maxlength="1000"></textarea>
            </div>        
            <div class="text-group">
                <button class="button-icon-1 button-mail">
                    <span>&nbsp;</span>
                    <span>SEND MESSAGE</span>
                    
                    <span class="button-icon">
                        <img src="images/envelope-solid.svg">
                    </span>
                </button>                
            </div>       
        </form>    
    </div>
</section>
