<main>
    <div class="main-data">
        <div class="greetings">
            <div class="text-2">
                <span id="greetings">{{greeting}}</span>
            </div>            
            <div class="text-2">
                <span>Welcome to my</span>
            </div>
            <div class="text-2">
                <span class="color-2">Personal</span><span> Webpage</span>
            </div>             
            <p id="currentWeather">{{currentWeather}}</p>
        </div>
        <p>
            A software developer with more than 20 years of experience, skilled in OOP, .NET, JavaScript and JavaScript frameworks.
        </p>        
        <div class="main-data-person">
            <dl>
                <div class="main-data-person-row">
                    <dt class="text-3">
                        Nationality:
                    </dt>                        
                    <dd class="item-detail">
                        Uruguayan
                    </dd>
                </div>
                <div class="main-data-person-row">
                    <dt class="text-3">
                        DOB:
                    </dt>
                    <dd class="item-detail">
                        10 / 01 / 1976
                    </dd>
                </div>
                <div class="main-data-person-row">
                    <dt class="text-3">
                        Address:
                    </dt>
                    <dd class="item-detail">
                        221b Baker St
                    </dd>
                </div>
            </dl>
            <div class="main-data-person-row">
                <a href="Profile.odt" class="button-icon-1 button-download">
                    <span>&nbsp;</span>
                    <span>DOWNLOAD MY FULL CV</span>
                    
                    <span class="button-icon">
                        <img src="images/download-solid.svg">
                    </span>
                </a>
            </div>
        </div>
        <div class="contact-icons">
            <span class="large-icon contact-icon">
                <a href="https://www.linkedin.com/in/juanplada/">
                    <img src="images/linkedin-svgrepo-com.svg" alt="Linkedin">
                </a>                
            </span>
            <span class="large-icon contact-icon">
                <a href="https://www.linkedin.com/in/juanplada/">
                    <img src="images/github.png" alt="Github">
                </a>                                   
            </span>
            <span class="large-icon contact-icon">
                <img id="envelope" src="images/envelope-solid.svg">
            </span>                        
        </div>
    </div>
    <div class="main-photo">
        <img src="images/Group 2.svg" class="big-logo">
    </div>   
    <div class="main-data-person-sm">
        <dl>
            <div class="main-data-person-row">
                <dt class="text-3">
                    Nationality:
                </dt>                        
                <dd class="item-detail">
                    Uruguayan
                </dd>
            </div>
            <div class="main-data-person-row">
                <dt class="text-3">
                    DOB:
                </dt>
                <dd class="item-detail">
                    10 / 01 / 1976
                </dd>
            </div>
            <div class="main-data-person-row">
                <dt class="text-3">
                    Address:
                </dt>
                <dd class="item-detail">
                    221b Baker St
                </dd>
            </div>
        </dl>
        <div class="main-data-person-row">
            <button class="button-icon-1 button-download">
                <span>&nbsp;</span>
                <span>DOWNLOAD MY FULL CV</span>
                
                <span class="button-icon">
                    <img src="images/download-solid.svg">
                </span>
            </button>
        </div>
    </div>    
</main>